body {
    width: 100%;
    max-width: auto;
    height: 100vh;
    margin: 0;
    background-color: #f2f1ec;
    background-image: url("media/background_pink_transparent-red.png");
    background-size: 100%;
    /* background-repeat: repeat-y; */
}

/* header + footer styling - start */

header,
footer {
    text-align: center;
    padding: 20px;
}

ul {
    display: flex; 
    justify-content: center;
}

li {
    padding: 10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-style: normal;
    list-style: none;   
    font-size: 1em;
}

a {
    color: #000000; 
    text-decoration: none;
    transition-duration: 0.8s;
}

a:hover {
    color: #C41D1D;
}

i {
    padding: 10px;
}

/* header + footer styling - end */

hr {
    width: 50%;
    border: 1px solid #c41d1d1f;
    margin-top: 20px;
}

hr:last-child {
    margin-top: none;
}

main {
    width: 600px;
    margin: auto;  /* centrera med hjälp av margin:auto */
    padding: 25px;
}

.img_me {
    width: 250px; /*Bredd*/
    margin: 0 auto 20px auto; /* auto = autojusterande marginaler - marginalerna (här höger o vänster) fördelas lika dvs. innehållet blir centrerat.*/
    display: block; /*Gör om inline till block-level - dvs bilden hamnar på en egen rad */
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(172, 69, 69); /* Röd skugga runt profilbild */
}

/* text styling - start */

h1 {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    text-align: center;
}

h2 {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.8em;
    text-align: center;
}

h3 {                       /* Education / Work experience */
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    text-transform: uppercase;
}

h4 {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    font-weight: bold;
}

p {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    text-align: center;
}

/* text styling - end */

/* section_experiences - start */

.experiences_flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
/* section_experiences - end */


/* section_my work - start */

.img_project {
    width: 120px; /*Bredd*/
    margin: 10px;
    border: solid 1px black;
    border-radius: 10%;
}

.card-container {
    display: flex;
    align-items: center;
}


/* Contact-page - form styling - start */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2em;
}

input, textarea {
    margin: 5px;
}

button {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    background-color: #000000;
    opacity: 0.6;
    color: white;
    border: solid 1px black;
    margin: 5px;

    text-decoration: none;
    transition-duration: 0.8s;
}

button:hover {
    background-color: #C41D1D;
    opacity: 0.75;
}

/* form styling - end */


/* media query - sidans responsivitet */

@media (max-width: 1100px) {
    main {
        width: 450px;
        margin: auto;
        padding: 25px;
    }
}    

@media (max-width: 700px) {
    body {
        width: 100%;
        margin: auto;
    }
    
    main {
        width: 350px; /* Anpassa bredden på huvudsektionen */
        /* width: 600px; */
        margin: auto;
        padding: 25px;
    }

    .navlinks {
        flex-direction: column; /* Navlinks till vertikal */
        margin: auto;
    }

    .card-container {
        flex-direction: column;
    }   

    .img_me {
        width: 150px; /* Minska bildstorleken för mindre skärmar */
        margin: auto;
    }

    h2 {
        width: 90%;
        margin: auto;
    }   
    
    h1 {
        width: 80%;
        margin: auto;
        padding-bottom: 15px;
    }   
    
    p {
        width: 60%;
        margin: auto;
    }   

    /* experience page */
    .experiences_flexbox {
        flex-direction: column;
    }

    .experiences_container h3 {
        text-align: center;
    }
    
    /* contact page */

    #section__contact {
        padding: 25px;
        margin: auto;
    }

    .h2_contact {
        padding: 20px;
        margin: 20px;
    }
}
    /* Andra anpassningar för mindre skärmar */
